<% layout('./layouts/boilerplate') -%>
<body>
    <h3>Create new Listing</h3>
    <form method="POST" action="/listings">
    <input name="listing[title]" placeholder="enter the title" type="text">
    <br><br>
    <textarea name="listing[description]" placeholder="enter the description" type="text"></textarea>
    <br><br>
    <input name="listing[image][url]" placeholder="enter the image/URL link" type="text">
    <br><br>
    <input name="listing[price]" placeholder="enter the price" type="number">
    <br><br>
    <input name="listing[country]" placeholder="enter the country" type="text">
    <br><br>
    <input name="listing[location]" placeholder="enter the location" type="text">
    <br><br><br>
    <button>Add</button>
    </form>
</body>
